
.medicos {
  margin: 0 0;
  list-style-type: none;
  padding-inline-start: 0px;

  li {
    font-weight: bold;
  }
}

.pacientes {
  margin: 0 0;
  list-style-type: none;
  padding-inline-start: 0px;

  li {
    font-weight: bold;
  }
}

.procedimentos {
    margin: 0 0;
    list-style-type: none;
    padding-inline-start: 0px;
  
    li {
      font-weight: bold;
    }
  }